.bono-wrapper {width: 100%; position: absolute; top: 0; left: 0;}
.bono-wrapper .img {width: 100%;}
.bono-wrapper.bono-hori {display: flex;}
.bono-wrapper.bono-vert {position: absolute;}
.bono-wrapper.bono-fade {}
.bono-wrapper.bono-hori .bono-slide {flex: 100% 0 0;}
.bono-wrapper.bono-vert .bono-slide {}
.bono-wrapper.bono-fade .bono-slide {position: absolute; width: 100%;}

.bono-btn {position: absolute; font-size: 10rem; color: #fff; text-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.5); top: 50%; transform: translateY(-50%); z-index: 9999; cursor: pointer; user-select: none; opacity: 0.2; transition: all 1s;}
.bono-btn:hover {opacity: 1;}
.bono-btn.bono-prev {left: 1rem;}
.bono-btn.bono-next {right: 1rem;}

.bono-pagers {display: flex; justify-content: center; align-items: center; position: absolute; bottom: 1rem; left: 50%; transform: translateX(-50%); z-index: 9999;}
.bono-pager {user-select: none; width: 40px; margin: 0 4px; cursor: pointer;}
.bono-pager::before {display: block; content: ""; height: 3px; background-color: #fff; margin: 10px 0; box-shadow: 0 0 0.625rem rgba(0,0,0,0.5);}
.bono-pager.active::before {background-color: orangered;}